langchain
langchain-community
faiss-cpu
sentence-transformers
pandas
numpy
openpyxl
python-docx
pypdf
streamlit
python-dotenv
google-generativeai
tiktoken
PyPDF2
langchain_google_genai
langchain-text-splitters

langchain
langchain-core
langchain-community
langchain-text-splitters

langchain==0.1.20
langchain-core
langchain-community
langchain-text-splitters
faiss-cpu
sentence-transformers
streamlit
python-dotenv
google-generativeai

streamlit
langchain==0.1.20
langchain-core
langchain-community
langchain-text-splitters
faiss-cpu
sentence-transformers
python-dotenv
google-generativeai
pypdf
pandas
openpyxl
python-docx
protobuf==3.20.*
